body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

    padding: 0;
    margin: 0;
}


/* main content */

#content {
    max-width: 500px;
    margin: auto;
}

#title {
    text-align: center;
}


/* inputs */

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 4px;
}

.inputs input {
    max-width: 100px;
    height: 14px;
}

#label-range input {
    max-width: 50px;
}

/* footer */

.footer {
    position: fixed;
    bottom: 5px;
}
#version {
    left: 5px;
}
#author {
    right: 5px;
}